<h4>Dear <%= @user.name %>,</h4>
<p> Your <%= @level.name %> training has been started.</p>
<div class="col-md-4">
   <h4>Duration</h4> 
    <%= @level.duration %><br>
</div><br>

<p>Their you will find some attchements,download and learn all the concept.After completion of <%= @level.name %> ,you will be having test.</p><br>

<h4>Thanks.</h4>