%h4
  Dear #{@user.name},
%p
  Your #{@level.name} training has been started.
.col-md-4
  %h4 Duration
  = @level.duration
  %br
%br
  %p
    Their you will find some attchements,download and learn all the concept.After completion of #{@level.name} ,you will be having test.
  %br
    %h4 Thanks.