<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @submit.title %>
</p>

<p>
  <strong>Code:</strong>
  <%=link_to 'download', @submit.code_url %>
</p>

<%= link_to 'Back', programs_path,class: 'btn btn-success' %>
