<h1>Edit Level</h1>

<%= render 'form' %>

<%= link_to 'Show', [@level.program,@level],class: 'btn btn-success' %> |
<%= link_to 'Back', program_levels_path(@level.program),class: 'btn btn-success' %>
