/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.datetimepicker
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.left{
	margin-left: 10px;
}

#middle{
	text-align: center;
}

#new_program label.error,#new_attachment label.error,#new_level label.error,#new_submit label.error,.form-horizontal label.error{
	color: red;
}
#new_program input.error,#new_attachment input.error,#new_level input.error,#new_submit input.error,.form-horizontal input.error{
  border:1px solid red;
 }