<h4>Dear <%= @admin.name %>,</h4>
<p> The <%=@user.name%> has started <%= @level.name %> training.</p>
<div class="col-md-4">
   <h4>Duration</h4> 
    <%= @level.duration %><br>
</div><br>

<h4>Thanks.</h4>